<div class="container">
  <div class="card">
    <h2>Login</h2>
    <form [formGroup]="loginForm">
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Email"
        formControlName="email"
        required
      />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        formControlName="password"
        required
      />
      <button type="submit" (click)="onSubmit()">Login</button>
    </form>
  </div>
</div>
